#partner {
  background: #f3f3f3;
}

#about {
  background: #feca57;
  height: 100vh;
}

#service {
  background: #dae9ff;
  height: 80vh;
}
.container-custom {
  margin-top: -40px;
  .title {
    font-size: 40px;
    text-align: center;
    p {
      padding: 20px;
      &:after {
        content: " ";
        display: block;
        height: 2px;
        width: 90%;
        background-color: #222f3e;
        margin: 0 auto;
        margin-top: 5px;
      }
    }
  }
  .partner-logo {
    img {
      width: 100%;
    }
  }
  .about-logo {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    .season-job-logo {
      width: 150px;
      height: 150px;
      margin-top: 18px;
    }
  }
  .main-info {
    text-align: center;
    padding: 4px 100px;
    font-size: 24px;
  }
  .other-info {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    text-align: center;
  }
  .service-info {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    .service-card {
      background-color: #e8e5e9;
      width: 30%;
      box-shadow: 3px 5px 10px #d9d2d2;
      h3 {
        background-color: #2e86de;
        font-size: 24px;
        padding: 14px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border: 2px solid #fee7e7;
        box-shadow: 0px 5px 10px 5px #fee7e7;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 0;
      }
      .service-price {
        font-size: 24px;
        color: #ff6b6b;
        font-weight: 350;
        text-align: center;
      }
      .service-details {
        text-align: center;
        svg {
          position: relative;
          top: 10px;
          right: 16px;
          font-size: 36px;
        }
        p {
          display: inline-block;
        }
      }
      .btn {
        text-align: center;
        padding: 36px;
        display: block;
        a {
          border-radius: 8px;
          padding: 8px 25px;
          background: #ff8e21;
          font-size: 20px;
          transition: all 0.5s;
          &:hover {
            cursor: pointer;
            background: #e58f3c;
          }
        }
      }
    }
  }
  .header-footer {
    background-color: #54a0ff;
    display: flex;
    justify-content: space-around;
    .footer-logo {
      width: 30%;
      text-align: left;
      img {
        width: 300px;
      }
    }
    .footer-link {
      width: 70%;
      text-align: right;
      padding-right: 20px;
      ul {
        list-style: none;
        margin-top: 55px;
        li {
          display: inline;
          margin: 10px;
          a {
            text-transform: uppercase;
            color: white;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            transition: all 0.5s;
            font-size: 18px;
          }
          a:hover {
            color: #ff7e06;
            border-bottom: solid 2px #ff7e06;
          }
        }
      }
    }
  }
  .body-footer {
    background-color: #1e2e45;
    padding: 5px 0px 20px 0px;
    .header-body-footer {
      background-color: #1e2e45;
      display: flex;
      justify-content: space-around;
      padding: 0px 20px;
      .condition {
        text-align: left;
        width: 100%;
        margin: 5px;
        h1 {
          padding: 0px 10px;
          color: #ff9f43;
          font-family: Arial, Helvetica, sans-serif;
          text-decoration: underline white;
          text-underline-position: under;
          text-underline-offset: 3px;
          font-weight: 500;
        }
        ul {
          list-style: none;
          text-align: left;
          padding: 0px;
          li {
            margin: 10px;
            a {
              text-transform: initial;
              color: white;
              text-decoration: none;
              font-family: Arial, Helvetica, sans-serif;
              transition: all 0.5s;
              font-size: 18px;
            }
            a:hover {
              color: #ff7e06;
              border-bottom: solid 2px #ff7e06;
            }
          }
        }
      }
    }
    .footer-body-footer {
      display: flex;
      justify-content: space-around;
      .description {
        background: #ff9f43;
        margin: 10px 35px;
        border-radius: 10px;
        width: 45%;
        text-align: left;
        ul {
          list-style: none;
          text-align: left;
          padding: 0px 20px;
          li {
            margin: 10px 0px 0px 0px;
            text-transform: initial;
            color: black;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            transition: all 0.5s;
            font-size: 18px;
            svg {
              vertical-align: bottom;
            }
          }
          .list-title {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
      .link-contact {
        width: 35%;
        background-color: transparent;
        margin: 10px 35px;
        border-radius: 10px;
        text-align: right;
        ul {
          list-style: none;
          text-align: left;
          padding: 0px 20px;
          li {
            margin: 10px 0px 0px 0px;
            text-transform: initial;
            color: white;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            transition: all 0.5s;
            font-size: 18px;
            svg {
              vertical-align: bottom;
              margin-right: 5px;
            }
            a {
              text-transform: initial;
              color: white;
              text-decoration: none;
              font-family: Arial, Helvetica, sans-serif;
              transition: all 0.5s;
              font-size: 16px;
            }
            a:hover {
              color: #ff7e06;
              border-bottom: solid 2px #ff7e06;
            }
          }
          .list-title {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;
            color: rgb(255, 255, 255);
          }
        }
      }
      .link-down-app{
        width: 20%;
        h1{
          margin-top: 25px;
          color:white;
          font-family: Arial, Helvetica, sans-serif;
        }
        img{
          width: 100px;
          display: block;
          margin-top: 10px;
        }
      }
    }
  }
}
