.navbar {
  display: flex;
  justify-content: space-between;
  background: #2e86de;
  .sidebar-toogle {
    svg {
      font-size: 28px;
      margin-top: 8px;
      margin-left: 6px;
      color: white;
    }
  }
  .navbar-custom-menu {
    display: flex;
    .navbar-icon {
      svg {
        font-size: 28px;
        margin-right: 20px;
        margin-top: 11px;
        color: white;
      }
    }
    .navbar-button {
      margin: 8px 0;
      margin-right: 12px;
      background: #ff9f43;
      font-weight: bold;
    }
  }
}

.grid-side-bar {
  opacity: 1;
  width: 100%;
  .main-side-bar {
    min-height: 100vh;
    width: 100%;
    background-color: #222f3e;
    .row {
      .col-lg-12 {
        padding: 0px;
      }
    }
    .container-img {
      width: 100%;
      background-color: #54a0ff;
      text-align: center;
      label {
        font-size: 37px;
        font-family: Arial, Helvetica, sans-serif;
        span {
          color: #ff9f43;
        }
      }
    }
    .user-container {
      padding: 10px;
      .row {
        margin-top: 0px;
      }
      img {
        width: 150px;
        height: 150px;
        border-radius: 75px;
        transition: all 0.5s;
      }
      #user {
        transition: all 0.5s;
      }
      .user-info {
        margin-left: 5px;
        margin-top: 10px;
        transition: all 0.5s;
        h6 {
          font-size: 20px;
          color: #ff9f43;
          text-transform: uppercase;
          margin: 0px;
          svg {
            vertical-align: bottom;
            color: #ff9f43;
            font-size: 21px;
            margin-right: 2px;
          }
        }
        span {
          font-size: 13px;
          color: white;
        }
      }
    }
    .side-bar-item {
      margin-top: 0px;

      .parent-item {
        list-style: none;
        padding: 0px 0px;

        .parent {
          cursor: pointer;
          display: block;
          background-color: #8395a7;
          transition: all 0.5s;
          position: relative;
          padding: 10px 0px;
          a {
            padding: 10px 5px;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
          }
          svg {
            margin-right: 10px;
            vertical-align: bottom;
          }
          .btn-expand {
            float: right;
            vertical-align: bottom;
          }

          .children-item {
            list-style: none;
            padding: 0px;
            position: absolute;
            width: 100%;
            top: 0px;
            bottom: 0px;
            overflow: hidden;
            transition: all 0.5s;
            height: 0px;
            li {
              display: block;
              padding: 10px 0px;
              background-color: white;
              transition: all 0.5s;
            }
            li:hover {
              background-color: #ff9f43;
            }
          }
        }
        .is-closed {
          text-align: center;

          svg {
            height: 100%;
            font-size: 2em;
          }
          .btn-expand {
            display: none;
          }
          span {
            display: none;
          }
          .children-item {
            text-align: center;
            span {
              display: none;
            }
            svg {
              height: 100%;
              font-size: 2em;
            }
          }
        }
        .active {
          .children-item {
            list-style: none;
            padding: 0px;
            position: relative;
            top: 10px;
            width: 100%;
            bottom: 0;
            transition: all 0.5s;
            overflow: visible;
            height: 100%;
            li {
              display: block;
              padding: 10px 0px;
              background-color: white;
              transition: all 0.5s;
            }
            li:hover {
              background-color: #ff9f43;
            }
          }
        }
        .parent:hover {
          background-color: #c8d6e5;
        }
      }
    }
  }
}
#side-bar {
  transition: all 0.5s;
}
#nav-bar {
  transition: all 0.5s;
}
.new-container {
  .col-lg-3 {
    padding: 0px;
  }
  .col-lg-1 {
    padding: 0px;
    width: 100px;
  }
  .col-lg-2 {
    padding: 0px;
  }
  .col-lg-9 {
    padding: 0px;
  }
  .col-lg-10,
  .col-lg-11 {
    padding: 0px;
  }
}

.grid-colum {
  padding: 0px !important;
}
.btn-container {
  // position: absolute;
  margin-top: 70%;
  top: 90%;
  button {
    background-color: #ff9f43;
  }
  svg {
    vertical-align: bottom;
  }
}
.btn-close {
  svg {
    text-align: center;

    height: 100%;
    font-size: 2em;
  }
  span {
    display: none !important;
  }
}

.profile-form {
  padding: 20px;
  .btn {
    float: right;
    margin-right: 80px;
    button {
      background: #ff9f43;
      border-radius: 4px;
      font-weight: bold;
    }
  }
  .title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }
  .content {
    .avatar-field {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      .avatar {
        width: 130px;
        height: 130px;
        margin-right: 20px;
      }
      .logo {
        width: 100px;
        height: 100px;
        margin-right: 30px;
      }
      .input-field {
        margin-top: 16px;
      }
    }
    padding: 20px 80px;
    .field {
      display: flex;
      margin-bottom: 12px;
      label {
        width: 134px;
        margin-top: 4px;
        font-size: 18px;
        font-family: sans-serif;
      }
      .addressOption {
        width: 100%;
        .item {
          div {
            width: 165px;
          }
        }
      }
    }
  }
}
.candidate-list {
  padding: 0px 20px;
  th {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
  }
  td {
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
  }
  .ava-candidate {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }
  .tag-skill {
    padding: 5px 10px;
    background-color: #ff9f43;
    border-radius: 3px;
    margin: 3px 3px;
    display: inline-block;
  }
  .tag-language {
    padding: 5px 10px;
    background-color: #10ac84;
    border-radius: 3px;
    margin: 3px 3px;
    display: inline-block;
  }
  button {
    padding: 1px 3px;
    font-size: 11px;
  }
  .btn-expand {
    position: relative;
    .content-btn-expand {
      display: none;
      position: absolute;
      right: 0;
      padding: 0px 10px 10px 10px;
      top: 30px;
      background-color: #c8d6e5;
      width: 100px;
      border-radius: 5px;
      box-shadow: 2px 2px 2px grey;
      .sub-content-expand {
        text-align: left;
        margin-top: 10px;
        button {
          font-size: 12px;
          padding: 0px 3px;
          color: black;
          width: 100%;
          text-align: left;
          svg {
            font-size: 12px;
            vertical-align: middle;
          }
        }
        span {
          color: black;
          font-size: 12px;
        }
      }
    }
  }
}

.post-list {
  .job-type-tag {
    padding: 5px;
    background-color: rgb(35, 138, 52);
    border-radius: 5px;
    color: white;
  }
  .job-status {
    padding: 5px;
    background-color: rgb(28, 97, 143);
    border-radius: 5px;
    color: white;
  }
  padding: 0px 20px;
  .select2 {
    font-size: 14px;
    width: 80% !important;
  }
  .select2-container--default .select2-selection--single {
    border-width: 0px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    border: 1px solid rgb(211, 208, 208);
    border-radius: 5px;
    background-color: black;
    color: white;
    box-shadow: 3px 3px 15px rgb(235, 235, 235);
  }

  .react-datepicker-wrapper {
    border: 1px solid rgb(211, 208, 208);
    border-radius: 5px;
    background-color: black;
    color: white;
    height: 32px;
    width: 80%;
    padding: 0px 5px;
  }
  .react-datepicker__input-container {
    input {
      border-width: 0px;
      border-bottom: 1px solid rgb(255, 255, 255);
      width: 100%;
      background-color: transparent;
      color: white;
      text-align: left;
      font-size: 14px;
    }
    input:focus {
      outline: none;
    }
  }
}
.blog-list {
  padding: 0px 20px;
  .dropdown {
    button {
      padding: 2px;
    }
  }
  .blog-tag {
    padding: 5px 10px;
    background-color: #ff9f43;
    border-radius: 3px;
    margin: 3px 3px;
    display: inline-block;
  }
  .category-tag {
    padding: 5px 10px;
    background-color: #1b6d13;
    border-radius: 3px;
    color: white;
    margin: 3px 3px;
    display: inline-block;
  }
  .select2 {
    font-size: 14px;
    width: 80% !important;
  }
  .select2-container--default .select2-selection--single {
    border-width: 0px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    border: 1px solid rgb(211, 208, 208);
    border-radius: 5px;
    background-color: black;
    color: white;
    box-shadow: 3px 3px 15px rgb(235, 235, 235);
  }

  .react-datepicker-wrapper {
    border: 1px solid rgb(211, 208, 208);
    border-radius: 5px;
    background-color: black;
    color: white;
    height: 32px;
    width: 80%;
    padding: 0px 5px;
  }
  .react-datepicker__input-container {
    input {
      border-width: 0px;
      border-bottom: 1px solid rgb(255, 255, 255);
      width: 100%;
      background-color: transparent;
      color: white;
      text-align: left;
      font-size: 14px;
    }
    input:focus {
      outline: none;
    }
  }
}
.post-component {
  background-color: #222f3e;
  padding: 20px 35px;
  margin: 10px;
  border-radius: 5px;
  img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    padding: 0px 10px;
  }
  h3 {
    color: #ff9f43;
    text-transform: uppercase;
  }
  h6 {
    color: white;
    svg {
      vertical-align: bottom;
      color: #c8d6e5;
      font-size: 17px;
    }
  }
  .post-btn-container {
    background-color: #c8d6e5;
    vertical-align: middle;
    padding-top: 20px;
    border-radius: 5px;
    button {
      background-color: #ff9f43;
      color: black;
      border-width: 0px;
      border-radius: 2px;
      padding: 5px;
      margin: 10px;
      width: 50%;
      transition: all 0.5s;
      svg {
        vertical-align: bottom;
        font-size: 20px;
      }
    }
    button:hover {
      background-color: #feca57;
    }
  }
}

.table-post {
  th {
    font-size: 13px;
    text-align: center;
    font-weight: initial;
    text-transform: uppercase;
  }
  td {
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    button {
      font-size: 13px;
    }
  }
}

.candidate-detail {
  .table-head {
    th {
      font-weight: bold;
    }
  }
  .candidate-info {
    h1 {
      color: #ff9f43;
      text-transform: uppercase;
    }
    h4 {
      color: #ababab;
      font-weight: 0px;
      font-weight: unset;
    }
  }
  .container-candidate-header {
    padding: 20px;
    background-color: #222f3e;
  }
  .container-candidate-body {
    padding: 10px 10px;
    background-color: #c8d6e5;
    .private-info {
      .personal-info {
        .info {
          padding: 0px;
          margin: 5px 0px;
          svg {
            vertical-align: bottom;
            background-color: #17a2b8;
            border-radius: 50%;
            padding: 3px;
            color: white;
            margin-right: 4px;
          }
          span {
            font-size: 17px;
          }
        }
      }
      .subject-skill {
        .info-skill {
          margin-bottom: 10px;
          padding: 0px;
          img {
            width: 50px;
            margin-right: 20px;
          }
          .progress-bar {
            width: 40%;
            display: block;
            border-radius: 5px;
            height: 100%;
            // vertical-align: middle;
          }
          span {
            font-weight: bold;
            margin-right: 20px;
            border-radius: 3px;
            font-size: 16px;
          }
        }
      }
      .hobby {
        .list-hobby-tag {
          padding: 0px;
          span {
            margin-right: 10px;
            padding: 4px 10px;
            background-color: #17a2b8;
            border-radius: 3px;
            transition: all 0.5s;
          }
          span:hover {
            background-color: #196f7c;
            color: white;
          }
        }
      }

      .optional-info {
        padding: 0px;
        .sub-optional-info {
          padding: 0px 0px 10px 0px;
          display: flex;
          h6 {
            font-weight: unset;
            margin-right: 10px;
          }
        }
        .select2 {
          font-size: 14px;
          width: 75% !important;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
          background-color: #10ac84;
          border: 1px solid #332f2f;
        }
      }

      span {
        font-size: 14px;
      }
      .container-content {
        padding: 0px;
        .main-title {
          margin: 10px 0px;
          padding: 0px;
          border-bottom: 2px solid #ef0000;
          text-transform: uppercase;
          color: #312f2f;
          font-weight: unset;
        }
      }
    }
  }
  .ava-candidate {
    padding: 0px;
    img {
      width: 80%;
      border-radius: 50%;
      height: 160px;
    }
  }
  .sub-info {
    h6 {
      color: rgb(165, 163, 163);
    }
  }
}

.blog-component {
  margin-bottom: 20px;
  .btn-add-img {
    border-radius: 50%;
    border-width: 0px;
    text-align: center;
    vertical-align: middle;
    background-color: #54a0ff;
    color: white;
    transition: all 0.5s;
    .svg {
      vertical-align: bottom;
    }
  }
  .btn-add-img:hover {
    background-color: #222f3e;
    color: #c8d6e5;
  }
  .btn-add-img:focus {
    outline: none;
  }
  .MuiSvgIcon-root {
    height: 1.5em;
  }
  .input-file {
    visibility: visible;
    width: 0px;
  }
  .blog-header {
    h2 {
    }
    h6 {
      color: rgb(179, 174, 174);
    }
  }
  .blog-body {
    .select2 {
      font-size: 14px;
      width: 100% !important;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
      background-color: #17a2b8;
      border: 1px solid #332f2f;
      color: white;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
      color: white;
    }
  }
  .form-blog {
    box-shadow: 5px 10px 18px rgb(207, 207, 207);
    padding: 10px 15px;
    border-radius: 5px;
  }
}

.icon-header {
  background-color: black;
  text-align: center;
  border-radius: 10px;
  width: 70%;
  margin-top: 5px;
  padding: 14px;
  svg {
    color: white;
    font-size: 160%;
  }
}

.dropdown {
  button {
    padding: 2px;
  }
}

.post-detail {
  .post-detail-body {
    box-shadow: 5px 10px 18px rgb(207, 207, 207);
    padding: 15px;
    margin-bottom: 10px;
    h6 {
      color: gray;
      .expired-date {
        color: #ff9f43;
      }
    }
    .post-name {
      text-transform: uppercase;
    }
    .title-post {
      color: black;
    }
    .group-title {
      margin-top: 10px;
      ul {
        list-style-type: "- ";
      }
      .job-category-tag {
        padding: 5px;
        margin-right: 5px;
        background-color: #1d803b;
        border-radius: 10px;
        color: white;
      }
      .job-type-tag {
        padding: 5px;
        margin-right: 5px;
        background-color: #e93434;
        border-radius: 10px;
        color: white;
      }
      .job-gender-tag {
        padding: 5px;
        margin-right: 5px;
        background-color: #ff9f43;
        border-radius: 10px;
        color: white;
      }
    }
  }
}
.page-item.active .page-link {
  background-color: black;
}

.page-item .page-link {
  color: black;
}
